#jpic {
    background-image: url(https://wallpaperaccess.com/full/477627.jpg);
    background-size: cover;
    color: white;
}

#button {
    display: block;
  margin: 0 auto;
  width: 20%;
  
}

#wrapper {
    display: flex;
    flex: row;
    justify-content: center;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
.size {
    font-size: 10px;
}

