#incasement{
	display: flex;
	flex: row;
	
}

#blue{
	padding: 50px;
	height: 100px;
	background-color: blue;

}

#white{
	padding: 50px;
	height: 100px;
	background-color: white;
}
#red{
	padding: 50px;
	height: 100px;
	background-color: red;

}